In [80]:
import numpy as np
import pandas as pd

In [81]:
distance_matrix = pd.read_csv("最短移動時間.csv")
distance_matrix = np.array(distance_matrix)
distance_matrix

array([[ 0.  , 38.08,  3.85, ..., 22.52,  4.76, 17.67],
       [38.08,  0.  ,  1.31, ..., 10.22, 74.95,  8.58],
       [ 3.85,  1.31,  0.  , ...,  9.1 , 33.05,  8.  ],
       ...,
       [22.52, 10.22,  9.1 , ...,  0.  ,  0.88, 42.43],
       [ 4.76, 74.95, 33.05, ...,  0.88,  0.  ,  4.73],
       [17.67,  8.58,  8.  , ..., 42.43,  4.73,  0.  ]])

In [82]:
money_matrix = pd.read_csv("移動價錢.csv")
money_matrix = np.array(money_matrix)
money_matrix

array([[ 0.  ,  4.76, 30.81, ..., 22.52, 38.05, 17.67],
       [ 4.76,  0.  , 10.44, ..., 81.79,  9.37, 68.62],
       [30.81, 10.44,  0.  , ..., 72.8 , 33.05, 64.03],
       ...,
       [22.52, 81.79, 72.8 , ...,  0.  ,  7.  ,  5.3 ],
       [38.05,  9.37, 33.05, ...,  7.  ,  0.  , 37.8 ],
       [17.67, 68.62, 64.03, ...,  5.3 , 37.8 ,  0.  ]])

In [152]:
df = pd.read_csv("new_data.csv")
ds = df
print(df)

    景點編號  X-座標  Y-座標  分數  開始開放時間  結束開放時間  參訪時間  門票費用
0      1    25    85  20      49     191    10    20
1      2    22    75  30      30     168    10    30
2      3    22    85  10      95     152    10    10
3      4    20    80  40      69     193    10    40
4      5    20    85  20      40     189    10    20
5      6    18    75  20      60     159    10    20
6      7    15    75  20      54     133    10    20
7      8    15    80  10      67     144    10    10
8      9    10    35  20      57     154    10    20
9     10    10    40  30     106     161    10    30
10    11     8    40  40      33     152    10    40
11    12     8    45  20      32     148    10    20
12    13     5    35  10      53     191    10    10
13    14     5    45  10      35     194    10    10
14    15     2    40  20      39     163    10    20
15    16     0    40  20      41     141    10    20
16    17     0    45  20      51     189    10    20
17    18    44     5  20      73     130    10    20
18    19    42    10  40      40     148    10    40
19    20    42    15  10      94     179    10    10
20    21    40     5  10      45     161    10    10
21    22    40    15  40      64     149    10    40
22    23    38     5  30      45     164    10    30
23    24    38    15  10      51     194    10    10
24    25    35     5  20      45     183    10    20
25    26    95    30  30      90     169    10    30
26    27    95    35  20      57     172    10    20
27    28    92    30  10      55     174    10    10
28    29    90    35  10      52     174    10    10
29    30    88    30  10      52     147    10    10
30    31    88    35  20      50     172    10    20
31    32    87    30  10      61     178    10    10
32    33    85    25  10      51     178    10    10
33    34    85    35  30      83     168    10    30
34    35    67    85  20      57     185    10    20
35    36    65    85  40      43     186    10    40
36    37    65    82  10      95     182    10    10
37    38    62    80  30      38     141    10    30
38    39    60    80  10      36     193    10    10
39    40    60    85  30      61     138    10    30
40    41    58    75  20      49     164    10    20
41    42    55    80  10      33     180    10    10
42    43    55    85  20     100     185    10    20
43    44    55    82  10      35     142    10    10
44    45    20    82  10      37     192    10    10
45    46    18    80  10      71     184    10    10
46    47     2    45  10      38     191    10    10
47    48    42     5  10      50     184    10    10
48    49    42    12  10      99     138    10    10
49    50    72    35  30      83     178    10    30

In [140]:
red = [1,2,3,4,5,6,7,8,45,46]
blue = [18,19,20,21,22,23,24,25,48,49]
green = [9,10,11,12,13,14,15,16,17,47]
purple = [26,27,28,29,30,31,32,33,34,50]
black = [35,36,37,38,39,40,41,42,43,44]

In [142]:
for i in red:
    for j in df["景點編號"]:
        if i == j:
            if df.iloc[j-1]["分數"] == 10:
                red.remove(i)
print(red)

[1, 2, 4, 5, 6, 7]

In [145]:
for i in blue:
    for j in df["景點編號"]:
        if i == j:
            if df.iloc[j-1]["分數"] == 10:
                blue.remove(i)
print(blue)

[18, 19, 22, 23, 25]

In [146]:
for i in green:
    for j in df["景點編號"]:
        if i == j:
            if df.iloc[j-1]["分數"] == 10:
                green.remove(i)
print(green)

[9, 10, 11, 12, 15, 16, 17]

In [148]:
for i in purple:
    for j in df["景點編號"]:
        if i == j:
            if df.iloc[j-1]["分數"] == 10:
                purple.remove(i)
print(purple)

[26, 27, 31, 34, 50]

In [149]:
for i in black:
    for j in df["景點編號"]:
        if i == j:
            if df.iloc[j-1]["分數"] == 10:
                black.remove(i)
print(black)

[35, 36, 38, 40, 41, 43]

In [170]:
ds = ds[ds.分數 != 10]

In [171]:
ds.sort_values(by=["開始開放時間"])

    景點編號  X-座標  Y-座標  分數  開始開放時間  結束開放時間  參訪時間  門票費用
1      2    22    75  30      30     168    10    30
11    12     8    45  20      32     148    10    20
10    11     8    40  40      33     152    10    40
37    38    62    80  30      38     141    10    30
14    15     2    40  20      39     163    10    20
18    19    42    10  40      40     148    10    40
4      5    20    85  20      40     189    10    20
15    16     0    40  20      41     141    10    20
35    36    65    85  40      43     186    10    40
24    25    35     5  20      45     183    10    20
22    23    38     5  30      45     164    10    30
40    41    58    75  20      49     164    10    20
0      1    25    85  20      49     191    10    20
30    31    88    35  20      50     172    10    20
16    17     0    45  20      51     189    10    20
6      7    15    75  20      54     133    10    20
8      9    10    35  20      57     154    10    20
26    27    95    35  20      57     172    10    20
34    35    67    85  20      57     185    10    20
5      6    18    75  20      60     159    10    20
39    40    60    85  30      61     138    10    30
21    22    40    15  40      64     149    10    40
3      4    20    80  40      69     193    10    40
17    18    44     5  20      73     130    10    20
33    34    85    35  30      83     168    10    30
49    50    72    35  30      83     178    10    30
25    26    95    30  30      90     169    10    30
42    43    55    85  20     100     185    10    20
9     10    10    40  30     106     161    10    30